@model QuizWebApp.ViewModels.QROutputViewModel
@{
    Layout = null;
}


<input class="btn btn-light printBtn align-items-center" value="Tlačiť" type="button" onclick="window.print()" />



@for (int i = 0; i < Model.QrByteData.Count; i++)
{
    <div id="printable" class="text-center">
        <div id="innerPrintable" class="phoneImg">
            <div class="printImg">

                <div class="form-group">
                    <h1>@Model.ContestName</h1>
                </div>

                <br />
                <br />

                <div class="form-group">
                    <h3>Otázka #@(i + 1)</h3>
                </div>

                <div class="form-group">
                    <img width="200" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrByteData[i]))" />
                </div>

                <br />
                <br />

                <div class="form-group">
                    <h4>1. Naskenuj QR kód</h4>
                </div>

                <div class="form-group">
                    <h4>2. Odpovedaj na otázku</h4>
                </div>
            </div>
        </div>
    </div>
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />