@model QuizWebApp.ViewModels.PaginationViewModel<Contest>

@{
    ViewData["Title"] = "Index";
}

<h2>Zoznam súťaží</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-light">Vytvoriť novú sútaž</a>
</p>

<div id="partial">
    @await Html.PartialAsync("_ContestsPartial", Model)
</div>
