@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Hlavná stránka";
}

@if (User.IsInRole("Admin"))
{
    <h3 class="text-info">Ste prihlásený ako administrátor.</h3>
    <br />
}
<div>
    <h3>O stránke</h3>
    <br />
    <p><b>FRIVIA</b> je webová aplikácia vytvorená na <a href="https://www.fri.uniza.sk/" class="alert-link">Fakulte riadenia a informatiky</a>. </p>
    <p>
        Jedná sa o interaktívnu kvízovú hru založenú na skenovaní QR kódov, v ktorej si overíte Vaše vedomosti, a zároveň hráte o zaujímavé ceny.
        
        Hra je riešená tak, že sa náhodne rozmiestnia otázky na mieste konania súťaže, na ktorých nájdete názov súťaže, číslo otázky a príslušný QR kód.
        Po jeho naskenovaní Vás presmeruje na príslušnú otázku, na ktorú treba odpovedať.
        Cieľom hry je teda nájsť všetky otázky a odpovedať správne na čo najviac z nich. Čím viac správnych odpovedí, tým máte väčšiu šancu vyhrať.

        Svoj postup v súťaži môžete sledovať v záložke
        <a asp-controller="Users" asp-action="MyContests">Moje súťaže</a>. 
        Po odpovedaní na všetky otázky sa Vám zobrazí počet správnych odpovedí.
    </p>
    <p>
        Prajeme Vám veľa šťastia. :)
    </p>

    <br />

    <h4>Ako skenovať QR kódy</h4>
    
    <p>QR kódy môžete skenovať viacerými spôsobmi.</p>

    <p>
        V záložke
        <a asp-controller="Users" asp-action="MyContests">Moje súťaže</a>
        môžete nájsť tlačidlo <b>Skenovanie QR kódov</b>, ktoré Vás vyzve na povolenie kamery.
        Stačí potom už len namieriť na QR kód a presmeruje Vás automaticky na danú otázku.
    </p>

    <p>
        Pokiaľ by ste chceli využiť iný spôsob skenovania QR kódov, tak zariadenia, ktoré majú aspoň
        <b>Adroid 9</b> alebo <b>iOS 11</b> majú skener zabudovaný v kamere. 
        Stačí teda otvoriť kameru, namieriť na QR kód a vaše zariadenie ho automaticky rozpozná.
    </p>

    <p>
        V prípade, že máte staršiu verziu operačného systému, môžete si stiahnuť aplikáciu na skenovanie QR kódov z <b>Google Play</b> alebo <b>App Store</b>.
    </p>

</div>

<br />
<div class="text-center">
    <span class="divLogo">
        <a href="https://www.fri.uniza.sk/" target="_blank">
            <img src="~/bg/fri_bez_pozadia.png" width="240" alt="Logo FRI"/>
        </a>
    </span>
    <span class="divLogo">
        <a href="http://www.budfri.sk/" target="_blank">
            <img src="~/bg/budFRI_bez_pozadia.png" width="170" alt="Log bufFRI" />
        </a>
    </span>
</div>


