@{
    ViewData["Title"] = "Hlavná stránka";
}

    <div class="text-center">
        <h1 class="display-4">Vitajte</h1>
        <br />
        <p class="lead">
            Pre vyplnenie otázok sa musíte <span class="font-weight-bold">registrovať</span> alebo <span class="font-weight-bold">prihlásiť s existujúcim účtom</span> a naskenovať príslušný QR kód.
        </p>
        <p class="lead">
            Keď odpoviete na všetky otázky danej súťaže, zobrazí sa Vám výsledné skóre.
        </p>
        <p class="lead">
            Stav svojich odpovedí môžete sledovať cez možnosť <span class="font-weight-bold">Moje súťaže</span>.
        </p>
        <br />
        <p class="lead">
            Na otázku nie je možné odpovedať ak:
        </p>
        <p class="lead">
            1. Ste na ňu už raz odpovedali
        </p>
        <p class="lead">
            2. Súťaž nie je aktívna
        </p>

    </div>
