@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Hlavná stránka";
}

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <div>
            <h3>Ste prihlásený ako administrátor.</h3>
        </div>

        @*treba dopisat*@
    }
    else
    {
        <div>
            <h3>O hre</h3>
            <p>QRGame je webová aplikácia vytvorená na Fakulte riadenia a informatiky. </p>
            <p>
                Cieľom hry je nájsť všetky QR kódy, naskenovať ich a odpovedať na otázky.
                Po nájdení všetkých QR kódov sa vám zobrazí výsledné skóre. Svoj postup môžete sledovať v záložke <b>Moje súťaže</b>.
            </p>

            @*treba dopisat*@

        </div>
    }
}
else
{
    <div class="text-center">
        <h1 class="display-4">Vitajte</h1>
        <br />
        <p class="lead">
            Pre vyplnenie otázok sa musíte <span class="font-weight-bold">registrovať</span> alebo <span class="font-weight-bold">prihlásiť s existujúcim účtom</span> a naskenovať príslušný QR kód.
        </p>
        <p class="lead">
            Keď odpoviete na všetky otázky danej súťaže, zobrazí sa Vám výsledné skóre.
        </p>
        <p class="lead">
            Stav svojich odpovedí môžete sledovať cez možnosť <span class="font-weight-bold">Moje súťaže</span>.
        </p>
        <br />
        <p class="lead">
            Na otázku nie je možné odpovedať ak:
        </p>
        <p class="lead">
            1. Ste na ňu už raz odpovedali
        </p>
        <p class="lead">
            2. Súťaž nie je aktívna
        </p>
    </div>
}

<br />
<div class="text-center">
    <span class="divLogo">
        <a href="https://www.fri.uniza.sk/" target="_blank">
            <img src="~/uploads/bg/fri_bez_pozadia.png" width="300" />
        </a>
    </span>
    <span class="divLogo">
        <a href="http://www.budfri.sk/" target="_blank">
            <img src="~/uploads/bg/budFRI_bez_pozadia.png" width="200" />
        </a>
    </span>
</div>


