@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potvrdenie zabudnutého hesla";
}

<h4>@ViewData["Title"]</h4>
<p>
    Na vašu emailovú adresu bol odoslaný email s odkazom na resetovanie hesla.
</p>

