@page
@model LoginModel

@{
    ViewData["Title"] = "Prihlásenie";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<aside class="row justify-content-center">
    <div class="card col-11 col-sm-10 col-md-8 col-lg-6">
        <article class="card-body">
            <a class="float-right btn btn-outline-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrácia</a>
            <h4 class="card-title mb-4 mt-1">Prihlásenie</h4>

            <form asp-page-handler="Anonymous" asp-page="./Register" method="post" class="form-horizontal">
                <p>
                    <button type="submit" class="btn btn-block btn-outline-secondary">Vytvoriť dočasný účet</button>
                </p>
            </form>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-block btn-outline-primary" name="provider" value="@provider.Name"> <i class="fab fa-facebook-f"></i>   Prihlásiť sa cez @provider.Name</button>
                            }
                        </p>
                    </form>
                }
            }
            <hr>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input asp-for="Input.Password" class="form-control" placeholder="******" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Input.RememberMe" />
                            Zapamätať si ma
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 my-auto">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" onclick="return login()"> Prihlásiť  </button>
                        </div>
                    </div>
                    <div class="col-md-6 text-right my-auto">
                        <a id="forgot-password" asp-page="./ForgotPassword">Zabudli ste heslo?</a>
                    </div>
                </div>
            </form>
        </article>
    </div>

</aside>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />    
}
