@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrdenie zmeny hesla";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaše heslo bolo zmenené. Prosím <a asp-page="./Login">kliknite sem pre prihlásenie</a>.
</p>
