@model QuizWebApp.ViewModels.AnswersViewModel

@{
    ViewData["Title"] = "Odpovede";
}

<h2>Zoznam odpovedí</h2>
<br />

<div id="partial">
    @await Html.PartialAsync("_AnswersPartial", Model)
</div>