@model QuizWebApp.ViewModels.PaginationViewModel<Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Zoznam otázok</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-light">Vytvoriť novú otázku</a>
</p>

@await Html.PartialAsync("_TableHeaderPartial")

<br />

<div id="partial">
    @await Html.PartialAsync("_QuestionPartial", Model)
</div>

<script>
    function updateTable(pageNumber) {
        var searchString = $("#searchInput").val();
        var pageLength = $("#pageLength").val();
        $.ajax({
            type: "GET",
            url: "/questions/showdata",
            data: { 'searchString': searchString, 'pageLength': pageLength, 'pageNumber': pageNumber },
            success: function (result) {
                $("#partial").html(result);
            }
        });
    }
</script>

