@model QuizWebApp.ViewModels.PaginationViewModel<Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Zoznam otázok</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-light">Vytvoriť novú otázku</a>
</p>

<div class="btn-toolbar justify-content-between">
    <div class="btn-group">
        <span class="my-auto">Zobraz&nbsp;</span>
        <select id="pageLength">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <span class="my-auto">&nbsp;záznamov na stranu</span>
    </div>
    <div class="input-group">
        <input id="searchInput" type="text" class="form-control" placeholder="Hľadať..">
        <i id="clearInput" class="fas fa-times"></i>
    </div>
</div>

<br />

<div id="partial">
    @await Html.PartialAsync("_QuestionPartial", Model)
</div>


<script>
    $("#searchInput").on("change", function () {
        $("#pageLength").val('5');
        updateTable();
    });

    $("#pageLength").on("change", function () {
        updateTable();
    });

    $("#clearInput").on("click", function () {
        $("#searchInput").val("");
        $("#searchInput").change();
    });

    function updateTable() {
        var searchString = $("#searchInput").val();
        var pageLength = $("#pageLength").val();
        $.ajax({
            type: "GET",
            url: "/questions/showdata",
            data: { 'searchString': searchString, 'pageLength': pageLength, 'pageNumber': "1" },
            success: function (result) {
                $("#partial").html(result);
            }
        });
    }
</script>

